@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url("../../../assets/fonts/Open_Sans/OpenSans-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url("../../../assets/fonts/Open_Sans/OpenSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Playfair Display', serif;
    src: url("../../../assets/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Playfair Display', serif;
    src: url("../../../assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf");
    font-weight: 400;
}

h1,
h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

h3,
h4,
h5,
h6,
p,
input,
button,
label,
a,
span {
    font-family: 'Open Sans', sans-serif;
}

body {
    line-height: 1.6rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button,
a {
    cursor: pointer;
    transition: all 0.7s;
}

html {
    scroll-behavior: smooth;
}
